body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 42px;
}

#buttons-container button{
    border: none;
    padding: 10px 15px;
    margin: 0  10px;
}




#container{
    display: flex;
    width: 300px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-top: 20px;
    
}

/*Tabuleiro*/

.box{
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block-1, #block-2, #block-3{
    border-top: none;
}

#block-1, #block-4, #block-7{
    border-left: none;
}
#block-7, #block-8, #block-9{
    border-bottom: none;
}
#block-3, #block-6, #block-9{
    border-right: none;
}

/*peças*/

.x{
    font-size: 65px;
    color: blue;
    display: inline-block;
    line-height: 100px;
}

.o{
    width: 50px;
    height: 50px;
    border: 5px solid violet; 
    border-radius: 50%;
    display: inline-block;
    margin-top: 17px;
}

.hide{
    display: none !important;
} 


/* Placar */


#scoreboard-container{
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin: auto;
    padding-top:25px;
}

.score-box{
    margin: 0 20px;
}

#x-scoreboard{
    color: blue;
    margin-right: 5px;
}

#o-scoreboard{
    margin-left: 5px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px solid violet;
}

/* Mensagem de vitória */

#message p{
    position: absolute;
    margin-left:auto;
    margin-right:auto; 
    left:0;
    right:0;
    top: 150px;
    width: 500px;
    padding: 20px;
    background-color: blueviolet;
    color: black;
    


}